/* line 1, contact.scss */
.button222 {
  background-color: #6772e5;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 7px 14px; }

/* line 6, contact.scss */
.button:hover {
  background-color: #5469d4; }

/* line 9, contact.scss */
.button-label {
  color: #fff; }

/* line 12, contact.scss */
.contact__cotainer__scroll {
  overflow-y: scroll;
  height: calc(100vh);
  position: relative; }

/* line 17, contact.scss */
.contact__cotainer__scroll2 {
  overflow-y: scroll;
  height: calc(100vh);
  position: relative; }

/* line 23, contact.scss */
.contact__main_container {
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-y: hidden; }

/* line 29, contact.scss */
.MuiTextField {
  font-size: 4vmin; }

/* line 32, contact.scss */
.contact_container__header {
  top: 0px;
  margin: 0px;
  position: absolute;
  width: 100%;
  z-index: 10; }

/* line 39, contact.scss */
div {
  font-family: "Sarabun", "sans-serif";
  height: auto;
  width: 100%; }
  /* line 43, contact.scss */
  div .container__header {
    top: 0px;
    margin: 0px;
    position: absolute;
    height: calc(170vh);
    width: 100%;
    z-index: 1;
    margin-top: -50px;
    background-color: bisque; }
  /* line 54, contact.scss */
  div .googlemap {
    width: 100%;
    height: 50vh;
    margin-top: 60px; }
  /* line 59, contact.scss */
  div .contact__boxMessage {
    position: absolute;
    margin-left: 10px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 5px;
    height: 100px;
    background-color: black;
    bottom: 45vh;
    border: 2px solid black;
    align-items: center;
    justify-content: space-evenly; }
    /* line 74, contact.scss */
    div .contact__boxMessage > h1 {
      font-size: 2.3vmin;
      color: white;
      font-weight: bold;
      text-align: center; }
    /* line 80, contact.scss */
    div .contact__boxMessage > p {
      font-size: 2vmin;
      color: white;
      text-align: center; }
  /* line 88, contact.scss */
  div .container__grid {
    width: 80%;
    height: auto;
    border-bottom: 1px solid #cfcfcf;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 150px);
    grid-gap: 10px; }
    /* line 99, contact.scss */
    div .container__grid .section1 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      text-align: center; }
      /* line 106, contact.scss */
      div .container__grid .section1 h1 {
        font-size: 2.3vmin; }
      /* line 109, contact.scss */
      div .container__grid .section1 p {
        font-size: 2vmin;
        color: #27aa17; }
    /* line 115, contact.scss */
    div .container__grid .section2 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      text-align: center; }
      /* line 122, contact.scss */
      div .container__grid .section2 h1 {
        font-size: 2.3vmin; }
      /* line 125, contact.scss */
      div .container__grid .section2 p {
        font-size: 2vmin;
        color: #27aa17; }
    /* line 131, contact.scss */
    div .container__grid .section3 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      text-align: center; }
      /* line 138, contact.scss */
      div .container__grid .section3 h1 {
        font-size: 2.3vmin; }
      /* line 142, contact.scss */
      div .container__grid .section3 p {
        font-size: 2vmin;
        color: #27aa17; }

/*use*/
/* line 154, contact.scss */
.section4__contact {
  margin-top: 80px;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column; }

/* line 164, contact.scss */
.section4__contact h1 {
  font-size: 2.7vmin;
  font-weight: bold;
  color: #27aa17;
  margin-bottom: 30px; }

/*use*/
@media screen and (max-width: 620px) {
  /* line 173, contact.scss */
  .section4__contact h1 {
    font-size: 5vmin; }

  /* line 178, contact.scss */
  div .contact__boxMessage {
    display: none; }
    /* line 180, contact.scss */
    div .contact__boxMessage > h1 {
      font-size: 4vmin; }
    /* line 183, contact.scss */
    div .contact__boxMessage > p {
      font-size: 3.5vmin; }
  /* line 187, contact.scss */
  div .container__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: "it1" "it2" "it3"; }
    /* line 197, contact.scss */
    div .container__grid .section1 h1 {
      font-size: 5vmin; }
    /* line 201, contact.scss */
    div .container__grid .section1 p {
      font-size: 4vmin;
      line-height: 6vmin; }
    /* line 206, contact.scss */
    div .container__grid .section2 {
      grid-area: it2; }
      /* line 209, contact.scss */
      div .container__grid .section2 h1 {
        font-size: 5vmin; }
      /* line 212, contact.scss */
      div .container__grid .section2 p {
        font-size: 4vmin; }
    /* line 217, contact.scss */
    div .container__grid .section3 {
      grid-area: it3; }
      /* line 220, contact.scss */
      div .container__grid .section3 h1 {
        font-size: 5vmin; }
      /* line 223, contact.scss */
      div .container__grid .section3 p {
        font-size: 4vmin; } }

/*# sourceMappingURL=contact.css.map */
