/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, _reset.scss */
body {
  line-height: 1; }

/* line 34, _reset.scss */
ol, ul {
  list-style: none; }

/* line 37, _reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, hambergermenu.scss */
html {
  font-size: 62.5%; }

/* line 7, hambergermenu.scss */
.hambergerMenu {
  display: none; }

/* line 11, hambergermenu.scss */
.hamberger__container2 {
  display: none; }

/* line 14, hambergermenu.scss */
.hamberger__container {
  display: none; }

@media only screen and (max-width: 600px) {
  /* line 19, hambergermenu.scss */
  .hambergerMenu {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; }

  /* line 25, hambergermenu.scss */
  .deleteLine_react_router_dom {
    font-size: 3.5vmin;
    color: #d4d1d1;
    text-decoration: none !important; }

  /* line 30, hambergermenu.scss */
  .line_show {
    width: 100%;
    height: 1px;
    background-color: white; }

  /* line 35, hambergermenu.scss */
  div.hamberger__container2 {
    font-family: "Sarabun", "sans-serif";
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 40vh;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0px; }
    /* line 46, hambergermenu.scss */
    div.hamberger__container2 > div {
      width: 100%;
      width: 60px;
      margin-left: auto; }

  /* line 52, hambergermenu.scss */
  div.hamberger__container {
    font-family: "Sarabun", "sans-serif";
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    background-color: #000000;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0px; }
    /* line 63, hambergermenu.scss */
    div.hamberger__container > div {
      width: 100%;
      width: 60px;
      margin-left: auto; }
    /* line 68, hambergermenu.scss */
    div.hamberger__container > div:nth-child(2) {
      width: 100%;
      height: 50vh;
      background-color: #cac4bc;
      margin-top: 60px; }
      /* line 73, hambergermenu.scss */
      div.hamberger__container > div:nth-child(2) h1 {
        color: black; } }

/*# sourceMappingURL=hambergermenu.css.map */
