/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, _reset.scss */
body {
  line-height: 1; }

/* line 34, _reset.scss */
ol, ul {
  list-style: none; }

/* line 37, _reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 3, header.scss */
html {
  font-size: 62.5%; }

/* line 8, header.scss */
div.container__main {
  font-family: "Sarabun", "sans-serif";
  display: flex;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #000000;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 0; }
  /* line 22, header.scss */
  div.container__main a {
    text-decoration: none;
    outline: none; }
  /* line 26, header.scss */
  div.container__main h1 {
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px; }
  /* line 32, header.scss */
  div.container__main img {
    width: 55px; }
  /* line 35, header.scss */
  div.container__main .dummy {
    width: 10vw;
    height: 50px; }
  /* line 39, header.scss */
  div.container__main .text-link {
    text-decoration: none; }

@media only screen and (max-width: 600px) {
  /* line 45, header.scss */
  div.container__main {
    width: 0;
    height: 0;
    display: none; } }

/*# sourceMappingURL=header.css.map */
