/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, _reset.scss */
body {
  line-height: 1; }

/* line 34, _reset.scss */
ol, ul {
  list-style: none; }

/* line 37, _reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 2, home.scss */
.wrap {
  width: 100%;
  height: auto;
  background-color: #161616; }

/* line 7, home.scss */
div#container__header {
  top: 0px;
  margin: 0px;
  position: absolute;
  height: calc(870vh);
  width: 100%;
  z-index: 2;
  margin-top: -60px; }

/* line 16, home.scss */
section.content1 {
  width: 100%;
  height: calc(100vh - 60px);
  margin: 60px auto 0 auto; }
  /* line 21, home.scss */
  section.content1 .flex__container {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    /* line 26, home.scss */
    section.content1 .flex__container .picture {
      margin-top: 0vh;
      width: 100%;
      justify-content: center;
      display: flex; }
      /* line 32, home.scss */
      section.content1 .flex__container .picture img {
        width: 60%;
        height: auto; }
    /* line 38, home.scss */
    section.content1 .flex__container .text {
      background-color: black;
      text-align: center; }
      /* line 41, home.scss */
      section.content1 .flex__container .text h1 {
        color: white;
        font-size: 14vmin;
        font-weight: bold;
        line-height: 17vmin; }
      /* line 47, home.scss */
      section.content1 .flex__container .text h2 {
        color: white;
        font-size: 7vmin;
        font-weight: bold;
        line-height: 1vmin; }
      /* line 53, home.scss */
      section.content1 .flex__container .text h3 {
        color: white;
        font-size: 4.5vmin;
        font-weight: normal;
        line-height: 9vmin; }

@media screen and (max-width: 668px) {
  /* line 64, home.scss */
  section.content1 {
    width: 95%; }
    /* line 66, home.scss */
    section.content1 .flex__container {
      overflow: hidden; }
      /* line 68, home.scss */
      section.content1 .flex__container .picture {
        margin-top: 20vh; } }
/* line 77, home.scss */
section.content2 {
  max-width: 100%;
  height: calc(100vh - 60px); }
  /* line 81, home.scss */
  section.content2 .container {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url("../img/home/Factory.png");
    background-position: center;
    background-repeat: no-repeat; }
    /* line 89, home.scss */
    section.content2 .container .grid__container {
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 0.5fr 1fr 1.5fr;
      grid-template-rows: 1fr;
      grid-template-areas: "dummy text pic" "dummy text pic";
      justify-content: center;
      align-items: center; }
      /* line 102, home.scss */
      section.content2 .container .grid__container .dummy {
        background-color: brown;
        grid-area: dummy; }
      /* line 106, home.scss */
      section.content2 .container .grid__container .text {
        color: white;
        grid-area: text;
        z-index: 2;
        height: 80%; }
        /* line 112, home.scss */
        section.content2 .container .grid__container .text h1 {
          font-size: 7vmin; }
      /* line 116, home.scss */
      section.content2 .container .grid__container .picture {
        z-index: 1;
        grid-area: pic; }

@media screen and (max-width: 668px) {
  /* line 130, home.scss */
  section.content2 .container .grid__container {
    grid-template-columns: 0.5fr 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "text text text" "dummy pic pic"; }
    /* line 137, home.scss */
    section.content2 .container .grid__container .text {
      grid-area: text;
      z-index: 2;
      height: 80%; }
      /* line 142, home.scss */
      section.content2 .container .grid__container .text h1 {
        font-size: 7vmin;
        text-align: center; }
    /* line 148, home.scss */
    section.content2 .container .grid__container .picture {
      z-index: 1;
      grid-area: pic; } }

/*# sourceMappingURL=home.css.map */
