.usecase_menu{
    display: none;
}
@media only screen and (max-width: 520px) {

}
.button_usecase {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 50px;

  }
.button_usecase1 {
    background-color: white; 
    
    border: 2px solid #008CBA;
  }
  .button_usecase1:hover {
    background-color: #008CBA;
    color: rgb(255, 255, 255);
  }
  .button_usecase1:hover a{
    color: white;
  }
.usecase_section10__container button a{
    text-decoration:  none;
    color: black;
}
div.usecase_main{
    overflow: hidden !important;
    position: relative;
    width: 100%;
    font-family: "Sarabun", "sans-serif" ;
    
}
.usecase__container__scroll456{
    overflow: scroll;
    height: calc(100vh - 60px);
    overflow-x: hidden;
    scrollbar-color:white;
}
.usecase__container__scroll457{
    overflow: scroll;
    height: calc(100vh - 300px);
    overflow-x: hidden;
    scrollbar-color:white;
}
div#usecase_container__header{
    
    top: 0px;
    margin: 0px;
    width: 100%;
    z-index: 2;
}
@media only screen and (max-width: 520px){

}
div.usecase_section1__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: rgb(248, 141, 177);
    background-image: url('../img/usecase/MockupLayout2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 95%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item2 item1"
        "item2 item1";
        align-items: center;
        // background-color: bisque;
        div.usecase_item1{
            grid-area: item1;
            // background-color: aqua;
        }

        div.usecase_item2{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            grid-area: item2;
            padding: 10px;
            // background-color: rgba(70, 112, 98 ,1);
            h1{
                color: white;
                font-size: 6vmin;
                line-height: 1.5em;
                text-align: center;
            }
            p{  
                color: white;
                text-align: center;
                font-size: 3vmin;
                margin-top: 15px;
                line-height:5vmin;
            }
        }
    }
}

@media only screen and (max-width: 520px) {
    div.usecase_section1__container{
        height: calc(100vh - 60px);
        background-image: url('../img/usecase/MockupLayout_mobile2.png');
        background-position: center -10em;
        // background-color: violet;
        width: auto;
        >div{
            grid-template-areas: 
            "item1 item1"
            "item2 item2";
            width: 95%;
            height: 80%;
            align-items: unset;
            div.usecase_item2{
                h1{
                    font-size: 6.6vmin;
                    line-height:6vmin;
                    text-align: center;
                }
                p{
                    font-size: 3.8vmin;
                    line-height:6vmin;
                    
                }
            }
        }
    }
  }

div.usecase_section2__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: khaki;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    >div.usecase_bg1{
        width: 60%;
        height: 60%;
        // background-color: lemonchiffon;
        background-image: url('../img/usecase/SEESETGraphic.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 35%;
        margin-top: 12vw;
    }
    >div{
        position: absolute;
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        grid-template-areas: 
        "item3 item4 "
        "item3 item4";
        padding: 2px;
        div.usecase_item3{
            grid-area: item3;
            // background-color: lawngreen;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                h1{
                    font-size: 4.5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
            }
            p{
                font-size: 3vmin;
                margin-top: 15px;
                line-height:5vmin;

            }
        }
        div.usecase_item4{
            grid-area: item4;
            // background-color: rgb(86, 92, 184);
            img{
                width: 0%;
                position: absolute;

            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section2__container{
        >div.usecase_bg1{
            background-image: none;
            margin-left: 0%;
            margin-top: 0%;
        }
        >div{
            grid-template-areas: 
            "item4 item4"
            "item3 item3";
            div.usecase_item3{
                background-color: rgba(25, 26, 102,0);
            }
            div.usecase_item4{
                // background-color: rgb(193, 82, 197);
                img{
                    width: 100%;
                    height: auto;
                }
            }
            div.usecase_item3{
                span{
                    h1{
                        text-align: center;
                    }
                }
                p{
                    font-size: 3.5vmin;
                    line-height:6vmin;
                    text-align: center;
    
                }
            }
        }
    }
}

div.usecase_section3__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: violet;
    div{
        width: 95%;
        height: 100%;
        margin:  0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: aquamarine;
        >div{
            // background-color: yellowgreen;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "item5 item6"
            "item5 item6";
            >div.usecase_item5{
                grid-area: item5;
                // background-color: rgb(95, 55, 95);
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            >div.usecase_item6{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                grid-area: item6;
                // background-color: goldenrod;
                span{
                    display: inline-block;
                    border-bottom: 4px solid #27aa17;
                    padding-bottom: 4px;
                    margin-bottom: 20px;
                    h1{
                        font-size: 5vmin;
                        line-height: 2em;
                        color: black;
                        font-weight: bold;
                    }
                    
                }
                p{
                    font-size: 3vmin;
                    line-height:5vmin;
                }
            }
        }
    }

    
}
@media only screen and (max-width: 520px) {
    div.usecase_section3__container{
        div{
            >div{
                grid-template-areas: 
                "item5 item5"
                "item6 item6";
                >div.usecase_item6{
                    span{
                        padding-bottom: 20px;
                        h1{
                            font-size: 4.5vmin;
                            line-height: 4vmin;
                            text-align: center;
                        }
                        
                    }
                    p{
                        font-size: 3.5vmin;
                        line-height:6vmin;
                        text-align: center;
                    }
                }
            }
        }
    }
}

div.usecase_section4__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: rgb(173, 206, 143);
    div{
        width: 95%;
        height: 100%;
        margin:  0 auto;
        // background-color: rgb(210, 170, 218);
        .usecase_section4__grid{
            width: 95%;
            height: 90%;
            // background-color: rgb(71, 156, 149);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "item8 item7"
            "item8 item7";
            >div.usecase_item7{
                grid-area: item7;
                // background-color: rgb(115, 233, 233);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0%;
                margin-top: 20%;
                >div{
                    width: 100%;
                    height: 100%;
                    // background-color: rgb(44, 98, 122);
                    background-image: url('../img/usecase/Move_IdleMachine.gif');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            >div.usecase_item8{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                grid-area: item8;
                // background-color: goldenrod;
                span{
                    display: inline-block;
                    border-bottom: 4px solid #27aa17;
                    padding-bottom: 4px;
                    margin-bottom: 20px;
                    h1{
                        font-size: 5vmin;
                        line-height: 2em;
                        color: black;
                        font-weight: bold;
                    }
                    
                }
                p{
                    font-size: 3vmin;
                    line-height:5vmin;
                }
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section4__container{
        div{
            >.usecase_section4__grid{
                grid-template-areas: 
                "item7 item7"
                "item8 item8";
                >div.usecase_item7{
                    margin-top: 0%;
                    margin-left: 0%;

                    img{
                        width: 100%;
                    }
                }
                >div.usecase_item8{
                    align-items: center;
                    p{
                        font-size: 3.5vmin;
                        line-height:6vmin;
                        text-align: center;
                    }
                    >span{
                        padding-bottom: 15px;
                        h1{
                            font-size: 4.5vmin;
                            line-height: 4vmin;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}


div.usecase_section5__container{
    height: calc(100vh - 60px);
    // background-color: violet;
    .usecase_container5{
        width: 90%;
        height: 95%;
        // background-color: brown;
        margin: 0 auto;
        >div{
            width: 90%;
            height: 90%;
            margin: 0 auto;
            // background-color: yellowgreen;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "item9 item10"
            "item9 item10";
            >div.usecase_item9{
                grid-area: item9;
                // background-color: rgb(95, 55, 95);
                margin-top: 150px;
                margin-left: 0%;
                >div{
                    width: 100%;
                    height: 100%;
                    // background-color: goldenrod;
                    background-image: url('../img/usecase/Move_LineMachine.gif');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                >img{
                    display: none;
                }
            }
            >div.usecase_item10{
                text-align: right;
                grid-area: item10;
                // background-color: rgb(135, 182, 143);
                span{
                    display: inline-block;
                    border-bottom: 4px solid #27aa17;
                    padding-bottom: 4px;
                    margin-bottom: 20px;
                    h1{
                        font-size: 5vmin;
                        line-height: 2em;
                        color: black;
                        font-weight: bold;
                    }
                    
                }
                p{
                    font-size: 3vmin;
                    text-align: right;
                    line-height:5vmin;
                }
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section5__container{
        .usecase_container5{
            width: 95%;
            height: 100%;
            >div{
                height: 100%;
                grid-template-areas: 
                "item9 item9"
                "item10 item10";
                >div.usecase_item9{
                    // background-color: rgb(95, 55, 95);
                    margin-top: 0%;
                    margin-left: 0%;
                    >div{
                        display: none;
                    }
                    >img{
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
                >div.usecase_item10{
                    text-align: right;
                    grid-area: item10;
                    // background-color: rgb(135, 182, 143);
                    span{
                        display: block;
                        h1{
                            font-size: 5vmin;
                            line-height: 2em;
                            color: black;
                            font-weight: bold;
                            text-align: center;
                        }
                        
                    }
                    p{
                        font-size: 3.5vmin;
                        line-height:6vmin;
                        text-align: center;
                    }
                }
            }
        }
    }
}

div.usecase_section6__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 80%;
        height: 80%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item12 item11"
        "item12 item11";
        >div.usecase_item11{
            grid-area: item11;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
                margin-left: 35%;
            }
        }
        >div.usecase_item12{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            grid-area: item12;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section6__container{
        >div{
            grid-template-areas: 
            "item11 item11"
            "item12 item12";
            >div.item11{
                img{
                    margin-left: 0%;
                }
                
            }
            >div.usecase_item12{
                display: flex;
                align-items: center;

                >p{
                    font-size: 3.5vmin;
                    line-height:6vmin;
                    text-align: center;
                }
                
            }
        }
    }
}


div.usecase_section7__container{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: violet;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item13 item14"
        "item13 item14";
        >div.usecase_item13{
            grid-area: item13;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.usecase_item14{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            grid-area: item14;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                    text-align: right;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
                text-align: right;
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section7__container{
        margin-top: 150px;
        margin-bottom: 150px;
        >div{
            grid-template-areas: 
            "item13 item13"
            "item14 item14";
            >div.usecase_item14{
                display: flex;
                align-items: center;
                p{
                    font-size: 3.5vmin;
                    line-height:6vmin;
                    text-align: center;
                }
            }
        }
    }
}

div.usecase_section8__container{
    width: 100%;
    height: calc(100vh - 60px);
    // background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item15 item16"
        "item15 item16";
        >div.usecase_item15{
            grid-area: item15;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.usecase_item16{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            grid-area: item16;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17; 
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section8__container{
        >div{
            grid-template-areas: 
            "item15 item15"
            "item16 item16";
            >div.usecase_item16{
                display: flex;
                align-items: center;
                span{
                    h1{
                        font-weight: bold;
                        font-size: 5vmin;
                    }
                }
                p{
                    font-size: 3.5vmin;
                    line-height: 6vmin;
                    text-align: center;
                }
            }
        }
    }
}

div.usecase_section9__container{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: violet;
    >div{
        width: 80%;
        height: 90%;
        // background-color: yellowgreen;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "item17 item18"
        "item17 item18";
        >div.usecase_item17{
            grid-area: item17;
            // background-color: rgb(95, 55, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: auto;
            }
        }
        >div.usecase_item18{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            grid-area: item18;
            // background-color: goldenrod;
            span{
                display: inline-block;
                border-bottom: 4px solid #27aa17;
                padding-bottom: 4px;
                margin-bottom: 20px;
                h1{
                    font-size: 5vmin;
                    line-height: 2em;
                    color: black;
                    font-weight: bold;
                    text-align: right;
                    
                }
                
            }
            p{
                font-size: 3vmin;
                line-height:5vmin;
                text-align: right;
            }
        }
    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section9__container{
        >div{
            grid-template-areas: 
            "item17 item17"
            "item18 item18";
            >div.usecase_item18{
                display: flex;
                align-items: center;
                >span{
                    text-align: center;
                    h1{
                        font-size: 4.5vmin;
                    }
                }
                p{
                    font-size: 3.5vmin;
                    line-height: 6vmin;
                    text-align: center;
                }
            }
        }
    }
}



div.usecase_section10__container{
    width: calc(100% - 50vw);
    height: 45vh;
    background-color: #2eaf1d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 25vw;
    padding-right: 25vw;
    
    h1{
        font-size: 4vmin;
        color: white;
    }
    p{
        color: white;
        font-size: 2.5vmin;
        text-align: center;
        line-height: 4vmin;
    }
    div{
        width: 90px;
        height:  50px;
        margin-top: 15px;
        background-color: #2eaf1d;
        border: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        
        a{
            text-decoration: none;
            h2{
                font-size: 18px;
                color: white;
                outline: none !important;
            }
        }
        

    }
}
@media only screen and (max-width: 520px) {
    div.usecase_section10__container{
        width: calc(100% - 10vw);
        padding-left:5vw;
        padding-right: 5vw;
        
        h1{
            font-size: 5vmin;
        }
        p{
            font-size: 3.2vmin;
            line-height: 6vmin;
        }
    }
}