/* line 1, usecase.scss */
.usecase_menu {
  display: none; }

/* line 7, usecase.scss */
.button_usecase {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 50px; }

/* line 23, usecase.scss */
.button_usecase1 {
  background-color: white;
  border: 2px solid #008CBA; }

/* line 28, usecase.scss */
.button_usecase1:hover {
  background-color: #008CBA;
  color: white; }

/* line 32, usecase.scss */
.button_usecase1:hover a {
  color: white; }

/* line 35, usecase.scss */
.usecase_section10__container button a {
  text-decoration: none;
  color: black; }

/* line 39, usecase.scss */
div.usecase_main {
  overflow: hidden !important;
  position: relative;
  width: 100%;
  font-family: "Sarabun", "sans-serif"; }

/* line 46, usecase.scss */
.usecase__container__scroll456 {
  overflow: scroll;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  scrollbar-color: white; }

/* line 52, usecase.scss */
.usecase__container__scroll457 {
  overflow: scroll;
  height: calc(100vh - 300px);
  overflow-x: hidden;
  scrollbar-color: white; }

/* line 58, usecase.scss */
div#usecase_container__header {
  top: 0px;
  margin: 0px;
  width: 100%;
  z-index: 2; }

/* line 68, usecase.scss */
div.usecase_section1__container {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../img/usecase/MockupLayout2.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 78, usecase.scss */
  div.usecase_section1__container > div {
    width: 95%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item2 item1" "item2 item1";
    align-items: center; }
    /* line 89, usecase.scss */
    div.usecase_section1__container > div div.usecase_item1 {
      grid-area: item1; }
    /* line 94, usecase.scss */
    div.usecase_section1__container > div div.usecase_item2 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      grid-area: item2;
      padding: 10px; }
      /* line 102, usecase.scss */
      div.usecase_section1__container > div div.usecase_item2 h1 {
        color: white;
        font-size: 6vmin;
        line-height: 1.5em;
        text-align: center; }
      /* line 108, usecase.scss */
      div.usecase_section1__container > div div.usecase_item2 p {
        color: white;
        text-align: center;
        font-size: 3vmin;
        margin-top: 15px;
        line-height: 5vmin; }

@media only screen and (max-width: 520px) {
  /* line 120, usecase.scss */
  div.usecase_section1__container {
    height: calc(100vh - 60px);
    background-image: url("../img/usecase/MockupLayout_mobile2.png");
    background-position: center -10em;
    background-color: violet;
    width: auto; }
    /* line 126, usecase.scss */
    div.usecase_section1__container > div {
      grid-template-areas: "item1 item1" "item2 item2";
      width: 95%;
      height: 80%;
      align-items: unset; }
      /* line 134, usecase.scss */
      div.usecase_section1__container > div div.usecase_item2 h1 {
        font-size: 6.6vmin;
        line-height: 6vmin;
        text-align: center; }
      /* line 139, usecase.scss */
      div.usecase_section1__container > div div.usecase_item2 p {
        font-size: 3.8vmin;
        line-height: 6vmin; } }
/* line 149, usecase.scss */
div.usecase_section2__container {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 157, usecase.scss */
  div.usecase_section2__container > div.usecase_bg1 {
    width: 60%;
    height: 60%;
    background-image: url("../img/usecase/SEESETGraphic.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 35%;
    margin-top: 12vw; }
  /* line 168, usecase.scss */
  div.usecase_section2__container > div {
    position: absolute;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item3 item4 " "item3 item4";
    padding: 2px; }
    /* line 179, usecase.scss */
    div.usecase_section2__container > div div.usecase_item3 {
      grid-area: item3; }
      /* line 182, usecase.scss */
      div.usecase_section2__container > div div.usecase_item3 span {
        display: inline-block;
        border-bottom: 4px solid #27aa17;
        padding-bottom: 4px; }
        /* line 186, usecase.scss */
        div.usecase_section2__container > div div.usecase_item3 span h1 {
          font-size: 4.5vmin;
          line-height: 2em;
          color: black;
          font-weight: bold; }
      /* line 193, usecase.scss */
      div.usecase_section2__container > div div.usecase_item3 p {
        font-size: 3vmin;
        margin-top: 15px;
        line-height: 5vmin; }
    /* line 200, usecase.scss */
    div.usecase_section2__container > div div.usecase_item4 {
      grid-area: item4; }
      /* line 203, usecase.scss */
      div.usecase_section2__container > div div.usecase_item4 img {
        width: 0%;
        position: absolute; }

@media only screen and (max-width: 520px) {
  /* line 213, usecase.scss */
  div.usecase_section2__container > div.usecase_bg1 {
    background-image: none;
    margin-left: 0%;
    margin-top: 0%; }
  /* line 218, usecase.scss */
  div.usecase_section2__container > div {
    grid-template-areas: "item4 item4" "item3 item3"; }
    /* line 222, usecase.scss */
    div.usecase_section2__container > div div.usecase_item3 {
      background-color: rgba(25, 26, 102, 0); }
    /* line 227, usecase.scss */
    div.usecase_section2__container > div div.usecase_item4 img {
      width: 100%;
      height: auto; }
    /* line 234, usecase.scss */
    div.usecase_section2__container > div div.usecase_item3 span h1 {
      text-align: center; }
    /* line 238, usecase.scss */
    div.usecase_section2__container > div div.usecase_item3 p {
      font-size: 3.5vmin;
      line-height: 6vmin;
      text-align: center; } }
/* line 249, usecase.scss */
div.usecase_section3__container {
  width: 100%;
  height: calc(100vh - 60px); }
  /* line 253, usecase.scss */
  div.usecase_section3__container div {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 261, usecase.scss */
    div.usecase_section3__container div > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "item5 item6" "item5 item6"; }
      /* line 269, usecase.scss */
      div.usecase_section3__container div > div > div.usecase_item5 {
        grid-area: item5;
        display: flex;
        align-items: center;
        justify-content: center; }
        /* line 275, usecase.scss */
        div.usecase_section3__container div > div > div.usecase_item5 img {
          width: 100%;
          height: auto; }
      /* line 280, usecase.scss */
      div.usecase_section3__container div > div > div.usecase_item6 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-area: item6; }
        /* line 287, usecase.scss */
        div.usecase_section3__container div > div > div.usecase_item6 span {
          display: inline-block;
          border-bottom: 4px solid #27aa17;
          padding-bottom: 4px;
          margin-bottom: 20px; }
          /* line 292, usecase.scss */
          div.usecase_section3__container div > div > div.usecase_item6 span h1 {
            font-size: 5vmin;
            line-height: 2em;
            color: black;
            font-weight: bold; }
        /* line 300, usecase.scss */
        div.usecase_section3__container div > div > div.usecase_item6 p {
          font-size: 3vmin;
          line-height: 5vmin; }

@media only screen and (max-width: 520px) {
  /* line 313, usecase.scss */
  div.usecase_section3__container div > div {
    grid-template-areas: "item5 item5" "item6 item6"; }
    /* line 318, usecase.scss */
    div.usecase_section3__container div > div > div.usecase_item6 span {
      padding-bottom: 20px; }
      /* line 320, usecase.scss */
      div.usecase_section3__container div > div > div.usecase_item6 span h1 {
        font-size: 4.5vmin;
        line-height: 4vmin;
        text-align: center; }
    /* line 327, usecase.scss */
    div.usecase_section3__container div > div > div.usecase_item6 p {
      font-size: 3.5vmin;
      line-height: 6vmin;
      text-align: center; } }
/* line 338, usecase.scss */
div.usecase_section4__container {
  width: 100%;
  height: calc(100vh - 60px); }
  /* line 342, usecase.scss */
  div.usecase_section4__container div {
    width: 95%;
    height: 100%;
    margin: 0 auto; }
    /* line 347, usecase.scss */
    div.usecase_section4__container div .usecase_section4__grid {
      width: 95%;
      height: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "item8 item7" "item8 item7"; }
      /* line 357, usecase.scss */
      div.usecase_section4__container div .usecase_section4__grid > div.usecase_item7 {
        grid-area: item7;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0%;
        margin-top: 20%; }
        /* line 365, usecase.scss */
        div.usecase_section4__container div .usecase_section4__grid > div.usecase_item7 > div {
          width: 100%;
          height: 100%;
          background-image: url("../img/usecase/Move_IdleMachine.gif");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; }
      /* line 375, usecase.scss */
      div.usecase_section4__container div .usecase_section4__grid > div.usecase_item8 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        grid-area: item8; }
        /* line 382, usecase.scss */
        div.usecase_section4__container div .usecase_section4__grid > div.usecase_item8 span {
          display: inline-block;
          border-bottom: 4px solid #27aa17;
          padding-bottom: 4px;
          margin-bottom: 20px; }
          /* line 387, usecase.scss */
          div.usecase_section4__container div .usecase_section4__grid > div.usecase_item8 span h1 {
            font-size: 5vmin;
            line-height: 2em;
            color: black;
            font-weight: bold; }
        /* line 395, usecase.scss */
        div.usecase_section4__container div .usecase_section4__grid > div.usecase_item8 p {
          font-size: 3vmin;
          line-height: 5vmin; }

@media only screen and (max-width: 520px) {
  /* line 406, usecase.scss */
  div.usecase_section4__container div > .usecase_section4__grid {
    grid-template-areas: "item7 item7" "item8 item8"; }
    /* line 410, usecase.scss */
    div.usecase_section4__container div > .usecase_section4__grid > div.usecase_item7 {
      margin-top: 0%;
      margin-left: 0%; }
      /* line 414, usecase.scss */
      div.usecase_section4__container div > .usecase_section4__grid > div.usecase_item7 img {
        width: 100%; }
    /* line 418, usecase.scss */
    div.usecase_section4__container div > .usecase_section4__grid > div.usecase_item8 {
      align-items: center; }
      /* line 420, usecase.scss */
      div.usecase_section4__container div > .usecase_section4__grid > div.usecase_item8 p {
        font-size: 3.5vmin;
        line-height: 6vmin;
        text-align: center; }
      /* line 425, usecase.scss */
      div.usecase_section4__container div > .usecase_section4__grid > div.usecase_item8 > span {
        padding-bottom: 15px; }
        /* line 427, usecase.scss */
        div.usecase_section4__container div > .usecase_section4__grid > div.usecase_item8 > span h1 {
          font-size: 4.5vmin;
          line-height: 4vmin;
          text-align: center; } }
/* line 440, usecase.scss */
div.usecase_section5__container {
  height: calc(100vh - 60px); }
  /* line 443, usecase.scss */
  div.usecase_section5__container .usecase_container5 {
    width: 90%;
    height: 95%;
    margin: 0 auto; }
    /* line 448, usecase.scss */
    div.usecase_section5__container .usecase_container5 > div {
      width: 90%;
      height: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "item9 item10" "item9 item10"; }
      /* line 459, usecase.scss */
      div.usecase_section5__container .usecase_container5 > div > div.usecase_item9 {
        grid-area: item9;
        margin-top: 150px;
        margin-left: 0%; }
        /* line 464, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item9 > div {
          width: 100%;
          height: 100%;
          background-image: url("../img/usecase/Move_LineMachine.gif");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; }
        /* line 473, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item9 > img {
          display: none; }
      /* line 477, usecase.scss */
      div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 {
        text-align: right;
        grid-area: item10; }
        /* line 481, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 span {
          display: inline-block;
          border-bottom: 4px solid #27aa17;
          padding-bottom: 4px;
          margin-bottom: 20px; }
          /* line 486, usecase.scss */
          div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 span h1 {
            font-size: 5vmin;
            line-height: 2em;
            color: black;
            font-weight: bold; }
        /* line 494, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 p {
          font-size: 3vmin;
          text-align: right;
          line-height: 5vmin; }

@media only screen and (max-width: 520px) {
  /* line 505, usecase.scss */
  div.usecase_section5__container .usecase_container5 {
    width: 95%;
    height: 100%; }
    /* line 508, usecase.scss */
    div.usecase_section5__container .usecase_container5 > div {
      height: 100%;
      grid-template-areas: "item9 item9" "item10 item10"; }
      /* line 513, usecase.scss */
      div.usecase_section5__container .usecase_container5 > div > div.usecase_item9 {
        margin-top: 0%;
        margin-left: 0%; }
        /* line 517, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item9 > div {
          display: none; }
        /* line 520, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item9 > img {
          display: block;
          width: 100%;
          height: auto; }
      /* line 526, usecase.scss */
      div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 {
        text-align: right;
        grid-area: item10; }
        /* line 530, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 span {
          display: block; }
          /* line 532, usecase.scss */
          div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 span h1 {
            font-size: 5vmin;
            line-height: 2em;
            color: black;
            font-weight: bold;
            text-align: center; }
        /* line 541, usecase.scss */
        div.usecase_section5__container .usecase_container5 > div > div.usecase_item10 p {
          font-size: 3.5vmin;
          line-height: 6vmin;
          text-align: center; } }
/* line 552, usecase.scss */
div.usecase_section6__container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 559, usecase.scss */
  div.usecase_section6__container > div {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item12 item11" "item12 item11"; }
    /* line 569, usecase.scss */
    div.usecase_section6__container > div > div.usecase_item11 {
      grid-area: item11;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 575, usecase.scss */
      div.usecase_section6__container > div > div.usecase_item11 img {
        width: 100%;
        height: auto;
        margin-left: 35%; }
    /* line 581, usecase.scss */
    div.usecase_section6__container > div > div.usecase_item12 {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      grid-area: item12; }
      /* line 588, usecase.scss */
      div.usecase_section6__container > div > div.usecase_item12 span {
        display: inline-block;
        border-bottom: 4px solid #27aa17;
        padding-bottom: 4px;
        margin-bottom: 20px; }
        /* line 593, usecase.scss */
        div.usecase_section6__container > div > div.usecase_item12 span h1 {
          font-size: 5vmin;
          line-height: 2em;
          color: black;
          font-weight: bold; }
      /* line 601, usecase.scss */
      div.usecase_section6__container > div > div.usecase_item12 p {
        font-size: 3vmin;
        line-height: 5vmin; }

@media only screen and (max-width: 520px) {
  /* line 610, usecase.scss */
  div.usecase_section6__container > div {
    grid-template-areas: "item11 item11" "item12 item12"; }
    /* line 615, usecase.scss */
    div.usecase_section6__container > div > div.item11 img {
      margin-left: 0%; }
    /* line 620, usecase.scss */
    div.usecase_section6__container > div > div.usecase_item12 {
      display: flex;
      align-items: center; }
      /* line 624, usecase.scss */
      div.usecase_section6__container > div > div.usecase_item12 > p {
        font-size: 3.5vmin;
        line-height: 6vmin;
        text-align: center; } }
/* line 636, usecase.scss */
div.usecase_section7__container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 643, usecase.scss */
  div.usecase_section7__container > div {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item13 item14" "item13 item14"; }
    /* line 653, usecase.scss */
    div.usecase_section7__container > div > div.usecase_item13 {
      grid-area: item13;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 659, usecase.scss */
      div.usecase_section7__container > div > div.usecase_item13 img {
        width: 100%;
        height: auto; }
    /* line 664, usecase.scss */
    div.usecase_section7__container > div > div.usecase_item14 {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      grid-area: item14; }
      /* line 671, usecase.scss */
      div.usecase_section7__container > div > div.usecase_item14 span {
        display: inline-block;
        border-bottom: 4px solid #27aa17;
        padding-bottom: 4px;
        margin-bottom: 20px; }
        /* line 676, usecase.scss */
        div.usecase_section7__container > div > div.usecase_item14 span h1 {
          font-size: 5vmin;
          line-height: 2em;
          color: black;
          font-weight: bold;
          text-align: right; }
      /* line 685, usecase.scss */
      div.usecase_section7__container > div > div.usecase_item14 p {
        font-size: 3vmin;
        line-height: 5vmin;
        text-align: right; }

@media only screen and (max-width: 520px) {
  /* line 694, usecase.scss */
  div.usecase_section7__container {
    margin-top: 150px;
    margin-bottom: 150px; }
    /* line 697, usecase.scss */
    div.usecase_section7__container > div {
      grid-template-areas: "item13 item13" "item14 item14"; }
      /* line 701, usecase.scss */
      div.usecase_section7__container > div > div.usecase_item14 {
        display: flex;
        align-items: center; }
        /* line 704, usecase.scss */
        div.usecase_section7__container > div > div.usecase_item14 p {
          font-size: 3.5vmin;
          line-height: 6vmin;
          text-align: center; } }
/* line 714, usecase.scss */
div.usecase_section8__container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 721, usecase.scss */
  div.usecase_section8__container > div {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item15 item16" "item15 item16"; }
    /* line 731, usecase.scss */
    div.usecase_section8__container > div > div.usecase_item15 {
      grid-area: item15;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 737, usecase.scss */
      div.usecase_section8__container > div > div.usecase_item15 img {
        width: 100%;
        height: auto; }
    /* line 742, usecase.scss */
    div.usecase_section8__container > div > div.usecase_item16 {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      grid-area: item16; }
      /* line 749, usecase.scss */
      div.usecase_section8__container > div > div.usecase_item16 span {
        display: inline-block;
        border-bottom: 4px solid #27aa17;
        padding-bottom: 4px;
        margin-bottom: 20px; }
        /* line 754, usecase.scss */
        div.usecase_section8__container > div > div.usecase_item16 span h1 {
          font-size: 5vmin;
          line-height: 2em;
          color: black;
          font-weight: bold; }
      /* line 762, usecase.scss */
      div.usecase_section8__container > div > div.usecase_item16 p {
        font-size: 3vmin;
        line-height: 5vmin; }

@media only screen and (max-width: 520px) {
  /* line 771, usecase.scss */
  div.usecase_section8__container > div {
    grid-template-areas: "item15 item15" "item16 item16"; }
    /* line 775, usecase.scss */
    div.usecase_section8__container > div > div.usecase_item16 {
      display: flex;
      align-items: center; }
      /* line 779, usecase.scss */
      div.usecase_section8__container > div > div.usecase_item16 span h1 {
        font-weight: bold;
        font-size: 5vmin; }
      /* line 784, usecase.scss */
      div.usecase_section8__container > div > div.usecase_item16 p {
        font-size: 3.5vmin;
        line-height: 6vmin;
        text-align: center; } }
/* line 794, usecase.scss */
div.usecase_section9__container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 801, usecase.scss */
  div.usecase_section9__container > div {
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "item17 item18" "item17 item18"; }
    /* line 811, usecase.scss */
    div.usecase_section9__container > div > div.usecase_item17 {
      grid-area: item17;
      display: flex;
      align-items: center;
      justify-content: center; }
      /* line 817, usecase.scss */
      div.usecase_section9__container > div > div.usecase_item17 img {
        width: 100%;
        height: auto; }
    /* line 822, usecase.scss */
    div.usecase_section9__container > div > div.usecase_item18 {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;
      grid-area: item18; }
      /* line 829, usecase.scss */
      div.usecase_section9__container > div > div.usecase_item18 span {
        display: inline-block;
        border-bottom: 4px solid #27aa17;
        padding-bottom: 4px;
        margin-bottom: 20px; }
        /* line 834, usecase.scss */
        div.usecase_section9__container > div > div.usecase_item18 span h1 {
          font-size: 5vmin;
          line-height: 2em;
          color: black;
          font-weight: bold;
          text-align: right; }
      /* line 844, usecase.scss */
      div.usecase_section9__container > div > div.usecase_item18 p {
        font-size: 3vmin;
        line-height: 5vmin;
        text-align: right; }

@media only screen and (max-width: 520px) {
  /* line 854, usecase.scss */
  div.usecase_section9__container > div {
    grid-template-areas: "item17 item17" "item18 item18"; }
    /* line 858, usecase.scss */
    div.usecase_section9__container > div > div.usecase_item18 {
      display: flex;
      align-items: center; }
      /* line 861, usecase.scss */
      div.usecase_section9__container > div > div.usecase_item18 > span {
        text-align: center; }
        /* line 863, usecase.scss */
        div.usecase_section9__container > div > div.usecase_item18 > span h1 {
          font-size: 4.5vmin; }
      /* line 867, usecase.scss */
      div.usecase_section9__container > div > div.usecase_item18 p {
        font-size: 3.5vmin;
        line-height: 6vmin;
        text-align: center; } }
/* line 879, usecase.scss */
div.usecase_section10__container {
  width: calc(100% - 50vw);
  height: 45vh;
  background-color: #2eaf1d;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 25vw;
  padding-right: 25vw; }
  /* line 890, usecase.scss */
  div.usecase_section10__container h1 {
    font-size: 4vmin;
    color: white; }
  /* line 894, usecase.scss */
  div.usecase_section10__container p {
    color: white;
    font-size: 2.5vmin;
    text-align: center;
    line-height: 4vmin; }
  /* line 900, usecase.scss */
  div.usecase_section10__container div {
    width: 90px;
    height: 50px;
    margin-top: 15px;
    background-color: #2eaf1d;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center; }
    /* line 910, usecase.scss */
    div.usecase_section10__container div a {
      text-decoration: none; }
      /* line 912, usecase.scss */
      div.usecase_section10__container div a h2 {
        font-size: 18px;
        color: white;
        outline: none !important; }

@media only screen and (max-width: 520px) {
  /* line 923, usecase.scss */
  div.usecase_section10__container {
    width: calc(100% - 10vw);
    padding-left: 5vw;
    padding-right: 5vw; }
    /* line 928, usecase.scss */
    div.usecase_section10__container h1 {
      font-size: 5vmin; }
    /* line 931, usecase.scss */
    div.usecase_section10__container p {
      font-size: 3.2vmin;
      line-height: 6vmin; } }

/*# sourceMappingURL=usecase.css.map */
